data/raw/*
reports/*
reports.zip
data/*
data/processed/news_cleaned_part2.csv
data/processed/news_small.csv

notebook/Final_Project.ipynb
models/*

.venv/
env/

__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

.ipynb_checkpoints/
*.ipynb_checkpoints

.DS_Store
.AppleDouble
.LSOverride

.env
.env.*
*.env

*.log
*.tmp
*.bak