data/raw/*
data/processed/*

models/*

venv/
.venv/
env/

__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

.ipynb_checkpoints/
*.ipynb_checkpoints

.DS_Store
.AppleDouble
.LSOverride

.env
.env.*
*.env

*.log
*.tmp
*.bak